<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tous Formateurs</title>
</head>
<body>
<table border="1">
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>MAIL</th>
    <tr>
        <td th:text="${nouvfo.id}"/>
        <td th:text="${nouvfo.nom}"/>
        <td th:text="${nouvfo.prenom}"/>
        <td th:text="${nouvfo.mail}"/>
    </tr>
</table>
<a href ="/">retour</a>
</body>
</html>
